:root {
    --white: #Fff;
    --black: #000;
    --grey: #747474;
    --bg-blue: #1B244A;
    --point-bg: #090909;
    --point-red: #F94F6D;
    --text-grey: #EEEEEE;
}

@font-face {
    font-family: myfont;
    src: url(/cursed-timer-ulil.ttf);
}

.btn {
    font-family: myfont;
    padding: 12px 24px;
    font-size: medium;
    border-radius: 8px;
    border: 2px solid var(--white);
    color: var(--white);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: 600;
    font-size: 18px;
    backdrop-filter: blur(24px);

    &:hover {
        cursor: pointer;
        background-color: rgba($color: #fff, $alpha: 0.1);
        color: var(--white);
    }

    &:active {
        cursor: pointer;
        background: var(--white);
        color: var(--black);
    }

    &--reset {
        width: fit-content;
        font-size: 24px;
        padding: 16px 32px;
    }

}

body {
    font-family: myfont;
    background-color: var(--bg-blue);
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 64px 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;



}

.main-holder {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    align-content: center;
    align-items: center;

    .board-holder {
        display: flex;
        flex-direction: row;
        gap: 80px;

        .board {
            display: flex;
            flex-direction: column;
            gap: 48px;
            align-items: center;
            padding: 24px;
            border: .5px solid var(--grey);
            border-width: thin;
            backdrop-filter: blur(12px);
            border-radius: 8px;


            &__title {
                p {

                    color: var(--text-grey);
                    font-size: 40px;
                    line-height: 48px;
                    font-weight: bold;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    margin: 0;
                }
            }

            &__points {
                position: relative;
                width: 160px;
                height: max-content;
                background-color: var(--point-bg);
                border-radius: 8px;
                padding: 12px 48px;
                color: var(--point-red);
                font-weight: bold;


                p {
                    font-size: 96px;
                    margin: 0;
                    text-align: center;
                    transform: translateY(5%);
                }
            }

            &__add-points {
                display: flex;
                flex-direction: row;
                gap: 16px;
            }

            &__remove-points {
                display: flex;
                flex-direction: column;
                gap: 12px;

                p {
                    font-family: Verdana;
                    margin: 0;
                    font-size: 20px;
                    color: var(--white);
                }

                .btn-holder {
                    display: flex;
                    flex-direction: row;
                    gap: 16px;

                }
            }
        }
    }

}

object {
    position: absolute;
    opacity: 10%;
    width: 70vw;
    z-index: -1;
}